
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    display: flex;
    height: 100vh;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
    background-color: white;
}
/* sidebar */
.sidebarOption{
    display: flex;
    align-self: center;
    cursor: pointer;
}
.sidebar{
    border-right: 1px solid whitesmoke;
    flex: 0.2;
    min-width: 250px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px; 
}
.sidebarOption_logo >img{
    
    margin: 15px;
    width: 100px;
}
.sidebarOption i{
    padding: 20px;
}
.sidebarOption h2{
    padding: 20px;
    font-weight: 800;
    font-size: 20px;
    margin-right: 20px;
}
.sidebarOption:hover{
 background-color: whitesmoke;
 border-radius: 30px;
 color: black;
 transition: color 100ms ease-out;   
}
.sidebarOption.active{
    color: rgb(100, 182, 23);
}
.sidebar_post_btn{
    width: 100%;
    background-color: aquamarine;
    border: none;
    color: black;
    font-weight: 900;
    border-radius: 30px;
    height: 50px;
    margin-top: 20px;
    cursor: pointer;
}
/* feed and post */
.feed{
    flex: 0.5;
    border-right: 1px solid whitesmoke;
    min-width: fit-content;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.feed_header{
    position: flex;
    top: 0;
    z-index: 100;
    padding: 15px 20px;
}
.feed_header h2{
    font-size: 20px;
    font-weight: 800;
}
.feed::-webkit-scrollbar{
    display: none;
}
/* post box */
.postbox-container{
    padding: 15px 0 20px;
    min-height: 100%;
}
.postbox{
    position: relative;
    max-width: 565px;
    width: 100vw;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid whitesmoke;
    border-bottom: 8px solid whitesmoke;
    padding-left: 20px;
    padding-right: 20px;
    overflow-y: scroll;
    scrollbar-width: none;
}

.postbox_area::-webkit-scrollbar{
    height: 0;
    width: 0;
}
.postbox::-webkit-scrollbar{
    display: none;
}
.input-editable{
    outline: none;
    font-size: 100%;
    height: 10vh;
    overflow-y: scroll;
    margin-bottom: 20px;
    
}
.input-editable::-webkit-scrollbar{
    display: none;
}
.placeholder{
    position: absolute;
    padding-top: 20px;
    top: -0.8rem;
    font-size: 130%;
    color: #98a5b1;
    pointer-events: none;
}
.location_info_map{
    margin-top: 20px;
    font-size: 100%;
    padding: 5px 10px 5px 14px;
    width: 18%;
    cursor: pointer;

}
.location_info_map:hover{
    border-radius: 60px;
    background-color: whitesmoke;
    transition: 0.3s;
}
.postbox_footer{
    border-top: 1px solid whitesmoke;
    margin: 20px 5px;
}
.footer-icon{
    display: flex;
    list-style: none;
}
.add-img, .add_map{
    margin: 20px 20px;
    position: relative;
    right: 8px;
    font-size: 100%;

}
.add-img i{
    padding: 10px;
    transition: 0.3s;
    cursor: pointer;
}
.add_map i{
    padding: 10px;
    transition: 0.3s;
    cursor: pointer;
}
.add-img i:hover{
    border-radius: 60px;
    background-color: whitesmoke;
}
.add_map i:hover{
    border-radius: 60px;
    background-color: whitesmoke;
}
#postbox_image-container_2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}
  
#postbox_image-container_3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}
#postbox_image-container_4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
}

.post-limits{
    position: relative;
    display: flow-root;
    float: right;
    transform: translateY(-4.3rem);
    margin-left: 300px;
    margin-top: -32px;
}
.post-limits .counter-limit{
    border-right: 1px solid whitesmoke;
    padding: 0 18px;
    margin: 0 15px;
    font-size: 100%;
    visibility: hidden;
}

.postbox form{
    display: flex;
    flex-direction: column;
    height: fit-content;
}
.postbox_btn{
    background-color: aquamarine;
    border: none;
    color: black;
    font-weight: 900;
    border-radius: 30px;
    width: 80px;
    height: 40px;
    margin-top: 20px;
    margin-left: auto;
    cursor: pointer;
    border: transparent;
    opacity: 0.5;
}
.active{
    opacity: 1;
}

.img-wrapper {
    position: relative;
  }
  
  .img-wrapper img {
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 20px;
  }
  
  .img-wrapper i {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    margin: 4px;
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.534);
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

/* post_list*/
.post_body{
    flex: 1;
    padding: 10px;
}
.post_avatar{
    padding: 10px;
    float: left;
}
.post_avatar img{
    border-radius: 50%;
    height: 40px;
}
.post_list{
    max-height: 100vh;
    display: grid;
    align-items: flex-start;
    padding-bottom: 10px;
    overflow-y: scroll;
}
.post_add{
    width: 35vw;
    border-bottom: 1px solid whitesmoke;
}
.post_body img{
    width: 50px;
    object-fit: contain;
    border-radius: 20px;
}
.post_footer{
    padding-left: 74px;
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;

}
.fa-regular ,.fa-comment {
    padding-right: 10px;
}
.post_headerText h3{
  font-size: 15px;
  margin-bottom: 5px;   
}
.post_headerText span{
    font-weight: 600;
    font-size: 12px;
    color: gray;
}
.post_headerDescription{
    margin-bottom: 10px;
    font-size: 18px;
    width: 53vw;
    max-width: fit-content;
    padding-left: 70px;
    margin-bottom: 10px;
    font-size: 18px;
    padding-right: 10px;
}

.post_list::-webkit-scrollbar{
    height: 0;
    width: 0;
}
.post_list::-webkit-scrollbar{
    display: none;
}
/* widgets */
.widgets{
    flex: 0.4;
    min-width: fit-content;
    overflow-y: scroll;
}
.widgets_input{
    display: flex;
    align-items: center;
    background-color: gray;
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
}
.widgets_input input{
    border: none;
    background-color: gray;
    outline: none;
    color: white;
    width: 80%;
    height: 20px;
    margin-right: 20px;
    margin-left: 40px;

}
.widgets_input button{
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}
.widgets_input button i{
    color: white;
    margin-right: 15px;
}
.widgets_input input::placeholder{
	color: white;
}
.widgets_treand_Container{
    margin-top: 15px;
    margin-left: 20px;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 20px;
}
.widgets_treand_Container h2{
    margin-bottom: 10px;
}
.widgets_weather_Container{
    margin-top: 15px;
    margin-left: 20px;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 20px;
}
.widgets::-webkit-scrollbar{
    display: none;
}
/* Weather widget */
.weather_card{
    background-color: white;
    width: 100%;
    max-width: 5    00px;
    color: black;
    padding: 15px 15px;
    margin: 15px auto 0;
    border-radius: 20px;
    text-align: center;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    outline: none;
    border: 1px solid gray;
    color: black;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    font-size: 18px;
    flex:  1;
    margin-right: 15px;
}
.search button{
    border: 1px solid gray;
    outline: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;

}
.search button i{
    font-size: 20px;
}
.weather img{
    width: 200px;
    margin-top: 30px;
}
.weather h1{
    font-size: 35px;
    font-weight: bold;
}
.weather h1 span{
    font-size: 28px;
}
.weather h2{
    margin-top: 10px;
    font-size: 25px;
}
.details{
    display: flex;
    justify-content: center;
}
.col{
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    align-items: center;
}
.col img{
    width: 40px;
    margin-right: 10px;
}
.col_text{
    margin-top: 25px;
}

.col_text .humidity , .windy_speed{
    font-weight: bolder;
    font-size: 25px;
    margin-left: 8px   ;
}
.col_text span{
    font-size: 18px;
}
.col_text p{
    margin-left: 6px;
    text-align: start;
}
.error{
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
}



/* 모달 css */
.modal {
    position: absolute;
    top: 0;
    left: 0;
  
    width: 100%;
    height: 100%;
  
    display: block;
  
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .hidden {
    display: none;
  }
  
  .modal_body {
    position: absolute;
    top: 50%;
    left: 50%;
  
    width: 640px;
    height: 380px;
  
  
    text-align: center;
  
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  
    transform: translateX(-50%) translateY(-50%);
  }
  #close{
    margin-top: 5px;
    margin-right: 10px;
    font-size: x-large;
    display: flex;
    flex-direction: row-reverse;
    cursor: pointer;
  }
  .modal_sidebar {
    position: absolute;
    top: 0;
    left: 0;
  
    width: 100%;
    height: 100%;
  
    display: block;
  
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .hidden_sidebar_modal {
    display: none;
  }
  
  .modal_sidebar_body {
    position: absolute;
    top: 50%;
    left: 50%;
  
    width: 640px;
    height: 380px;
  
  
    text-align: center;
  
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  
    transform: translateX(-50%) translateY(-50%);
  }
  #close_modal_sidebar{
    margin-top: 5px;
    margin-right: 10px;
    font-size: x-large;
    display: flex;
    flex-direction: row-reverse;
    cursor: pointer;
  }
