@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    height: 100vh;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
    background-color: white;
}
a{
    text-decoration: none;
}


/* sidebar */
.sidebarOption{
    margin: 10px 0 10px 0;
    padding-left: 20px;
    display: flex;
    align-self: center;
    cursor: pointer;
}
.sidebar{
    border-right: 1px solid whitesmoke;
    flex: 0.23;
    min-width: 250px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px; 
}
.sidebarOption_logo >img{
    
    margin: 15px;
    width: 150px;
}
.sidebarOption i{
    padding: 10px 0 0 0;
    line-height: 50px;
    color: rgb(100, 182, 23);
    
}
.sidebarOption h2{
    padding: 20px;
    font-weight: 400;
    font-size: 20px;
    margin-right: 20px;
    letter-spacing: -1px;
}
.sidebarOption:hover{
 border-radius: 10px;
 background-color: whitesmoke;
 color: black;
 transition: color 100ms ease-out;   
}

.active{
    color: rgb(100, 182, 23);
}
.default{
    color: black;
}

.profile_btn{
    display: flex;
    margin-top: 50px;
    padding: 20px;
    border-radius: 20px;
    font-size: 14px;
    justify-content: space-between;
    align-items: center;
    border: 1px solid whitesmoke;
    box-shadow: 0 1px 1px 1px rgba(34, 36, 38, 0.15);
}
.profile_btn:active {
    background-color: whitesmoke;
}
.user_info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
img .user_profile_img{
    border-radius: 50px;
    margin-right: 10px;
}
.name .user_nick{
    font-size: 15px;
    font-weight: bold;
    line-height: 1.5;
    padding-left: 7px;
}
.name .user_id{
    color: #98a5b1;
    padding-left: 5px;
}
.user_profile_op i{
    margin-left: 45px;
}
.sidebar_dropdown-content{
    display: none;
    position: relative;
    background-color: #f9f9f9;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
    padding: 12px 16px;
    z-index: 1;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 5px;
}
.show {display: block;}



/* feed and post */
.feed{
    flex: 0.5;
    border-right: 1px solid whitesmoke;
    min-width: fit-content;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.feed_header{
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 15px 20px;
    border-bottom: 1px solid whitesmoke;

}
.feed_header h2{
    font-size: 20px;
    font-weight: 800;
}
.feed::-webkit-scrollbar{
    display: none;
}


/* post box */
.postbox{
    background: white;
    position: relative;
    max-width: 590px;
    width: 100%;
    height: fit-content;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    overflow-y: scroll;
    border-bottom: 1px solid whitesmoke;
}
.postbox_area::-webkit-scrollbar{
    height: 0;
    width: 0;
}
.postbox::-webkit-scrollbar{
    display: none;
}
.input_box{
    height: fit-content;
    padding-top: 10px;
    border-bottom: 1px solid whitesmoke;
    padding-bottom: 10px;
}
.input_box .postbox_area{
    position: relative;
    max-height: 150px;
    overflow-y: scroll;
}
.input_box .postbox_area textarea::-webkit-scrollbar{
    display: none;
}

.postbox_area textarea{
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 400;
    width: 100%;
    height: fit-content;
    word-break:normal;
}

.postbox_footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-icon{
    display: inline-flex;
    list-style: none;
}
.add-img, .add_map, .add_tage{
    margin: 20px 20px;
    position: relative;
    right: 8px;
    font-size: 100%;
}
.add-img i{
    padding: 10px;
    transition: 0.3s;
    cursor: pointer;
}
.postbox_image-container{
    display: flex;
    justify-content: center;
}

.postbox_image-container img {
    width: 550px;
}
.add_map i{
    padding: 10px;
    transition: 0.3s;
    cursor: pointer;
}
.add_tage i{
    padding: 10px;
    transition: 0.3s;
    cursor: pointer;
}
.add-img i:hover{
    border-radius: 60px;
    background-color: whitesmoke;
}
.add_map i:hover{
    border-radius: 60px;
    background-color: whitesmoke;
}
.add_tage i:hover{
    border-radius: 60px;
    background-color: whitesmoke;
}
.tag_wrapper{
    width: 100%;
    background-color: white;
    border-radius: 10px;
    padding: 20px 25px 10px;
    box-shadow: 0 1px 1px 1px rgba(34, 36, 38, 0.15);
    display: none;
}
.tag_wrapper :where(.title, li, .tag_details){
    gap: 5px;
    display: flex;
    align-items: center;
}
.tag_wrapper .title i{
    max-width: 21px;
}
.tag_wrapper .title h2{
    font-size: 21px;
    font-weight: 600;
    margin-left: 5px;
}
.tag_wrapper .tag_content{
    margin:  10px 0;
}
.tag_content p{
    font-size: 15px;
}
.tag_content ul{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    padding: 7px;
    margin: 12px 0;
    border-radius: 5px;
    border: 1px solid #a6a6a6;
}
.tag_content ul input{
    flex: 1;
    border: none;
    outline: none;
    padding: 5px;
    font-size: 15px;
}
.tag_wrapper .tag_details{
    margin-top: 15px;
    position: absolute;
    right: 35px;
    justify-content: flex-end;
}
.tag_details button{
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    font-size: 1;
    padding: 9px 15px;
    border-radius: 5px;
    background-color: #64B617;
}
.show_tag{
    display: block;
}
.tag-item{
    float: left;
    margin-right: 10px;
}
.postbox_footer .post-submit{
    display: flex;
    align-items: center;
}
.postbox form{
    display: flex;
    flex-direction: column;
    height: fit-content;
}
.postbox_btn{
    background-color: #64B617;
    padding: 9px 18px;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    color: #fff;
}

/* post_list*/
.post_body{
    flex: 1;
    padding: 10px;
}
.post_avatar{
    padding: 10px;
    float: left;
}
.post_avatar img{
    border-radius: 50%;
    height: 40px;
}
.post_list{
    max-width: 40vw;
    max-height: 100vh;
    display: grid;
    align-items: flex-start;
    padding-bottom: 10px;
}
.post_add{
    width: 30vw;
    border-bottom: 1px solid whitesmoke;
}
.post_body img{
    width: 50px;
    object-fit: contain;
    border-radius: 20px;

}
.post_footer{
    padding-left: 74px;
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;

}
.fa-regular ,.fa-comment {
    padding-right: 10px;
}
.post_headerText h3{
  font-size: 15px;
  margin-bottom: 5px;   
}
.post_headerText span{
    font-weight: 600;
    font-size: 12px;
    color: gray;
}
.post_headerDescription{
    margin-bottom: 10px;
    font-size: 18px;
    width: 53vw;
    max-width: fit-content;
    padding-left: 70px;
    margin-bottom: 10px;
    font-size: 18px;
    padding-right: 10px;
}

.post_list::-webkit-scrollbar{
    height: 0;
    width: 0;
}
.post_list::-webkit-scrollbar{
    display: none;
}
.post_list_box{
    max-width: 590px;
    height: auto;
    padding: 12px 15px 0px 15px;
    display: flex;
    justify-content: center;
}


.post_profile img {
    margin-right: 10px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.content{
    width: 100%;
    border: 1px solid rgb(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 15px;
}

.content .user_name_time{
    padding: 15px 0 15px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.content .user_name_time h5{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    font-weight: 600;
    margin-top: 5px;
    
}

.content .user_name_time h5 p{
    font-size: 12px;
    color: rgb(0, 0, 0, 0.3);
    margin-left: 10px;
}

.content .user_name_time h6{
    color: #000;
    font-size: 12px;
    font-weight: 500;
    margin-left: 200px;
    

}

.content .user_name_time h6 i{
    font-size: 12px;
    margin-right: 3px;

}

.content .h3{
    font-size: 11px;
    font-weight: 500;
    word-break: break-all;
    margin-top: 10px;


}

.content .post_card_social_data{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}

.content .post_card_social_data .post_social_card{
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.content .post_card_social_data .post_social_card:nth-child(2){
    border-left: 1px solid rgb(0, 0, 0, 0.1);
    border-right: 1px solid rgb(0, 0, 0, 0.1);
}

.content .post_card_social_data .post_social_card i{
   color:rgb(0,0,0,0.2);
   margin-right: 5px;
   font-size: 14px;
   cursor: pointer;
}

.content .post_card_social_data .post_social_card span{
   font-size: 13px;
   font-weight: 600;  
}

.content .post_card_social_data .post_social_card:nth-child(2) i{
   color: rgb(0,0,0,0.2);
    
}
.content .img_post_bx{
    max-width: 520px;
    display: flex;
    margin-top: 10px;
}
.content .img_post_bx img{
    width: 100%;
}
.dropdown-comment{
    display: none;
    position: relative;
    background-color: #f9f9f9;
    padding: 10px 16px;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.dropdown-comment input{
    padding-left: 10px;
    font-size: 15px;
    outline: none;
    width: 377px;
    height: 35px;

}
.commentBtn{
    font-weight: 600;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    font-size: 1;
    padding: 9px 15px;
    border-radius: 5px;
    background-color: #64B617;
}

.show_comment{
    display: block;
}
.dropdown-comment_list{
    /* display: none; */
    width: 100%;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 0px 10px;
    margin-bottom: 10px;
    margin-top: 20px;
}
.user_name_time_comment{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;;
}
.user_name_time_comment h5{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    font-weight: 600;
    margin-top: 5px;
}
.user_name_time_comment h5 p{
    font-size: 12px;
    color: rgb(0, 0, 0, 0.3);
    margin-left: 10px;
}
.user_name_time_comment h6{
    color: #000;
    font-size: 12px;
    font-weight: 600;
    margin-left: 200px;
}
.user_name_time_comment h6 i{
    font-size: 12px;
    margin-right: 3px;
}
.show_comment_list{
    display: block;
}
.comment_text{
    padding: inherit;
    padding-bottom: 10px;
    margin-left: 55px;
}
.comment_list_show{
    display: block;
}
.hidden{
    display: none;   
}
.comment_list{
    overflow-y: scroll;
    max-height: 19vh;
}
.comment_list::-webkit-scrollbar{
    display: none;
}

/* widgets */
.widgets{
    flex: 0.2;
    min-width: fit-content;
    overflow-y: scroll;
}
.widgets_input{
    display: flex;
    align-items: center;
    background-color: #d3d3d3;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 20px;
}
.widgets_input input{
    border: none;
    background-color: #d3d3d3;
    outline: none;
    color: white;
    width: 80%;
    height: 20px;
    margin-right: 20px;
    margin-left: 40px;

}
.widgets_input button{
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}
.widgets_input button i{
    color: white;
    margin-right: 15px;
}
.widgets_input input::placeholder{
	color: white;
}
.widgets_treand_Container{
    margin-top: 15px;
    margin-left: 20px;
    padding: 0 0 20px 0; 
    border: 1px solid whitesmoke;
    border-radius: 10px;
}
.widgets_treand_Container h2{
    font-size: 20px;
    font-weight: 600;
}
.widgets_weather_Container h2{
    font-size: 20px;
    font-weight: 600;
}
.widgets_weather_Container{
    margin-top: 15px;
    margin-left: 20px;
    padding: 0 0 20px 0; 
    border: 1px solid whitesmoke;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.widgets::-webkit-scrollbar{
    display: none;
}
.widgets_weather_header{
    padding: 10px;
    color: #fff;
    background-color: #64B617;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

/* Weather widget */
.weather_card{
    width: 100%;
    max-width: 500px;
    color: black;
    margin: 15px auto 0;
    border-radius: 10px;
    text-align: center;
}

.weather img{
    width: 170px;
}
.weather h1{
    font-size: 30px;
    font-weight: 600;
}
.weather h1 span{
    font-size: 20px;
}
.weather h2{
    margin-top: 10px;
    font-size: 20px;
}
.details{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.col{
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    align-items: center;
}
.col img{
    width: 40px;
    margin-right: 10px;
}
.col_text{
    margin-top: 20px;
}

.col_text .humidity , .windy_speed{
    font-weight: 600;
    font-size: 20px;
    margin-left: 8px   ;
}
.col_text span{
    font-size: 18px;
}
.col_text p{
    margin-left: 6px;
    text-align: start;
}
.col_text p~p{
   font-size: 13px;
}
.error{
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
}


/* popup css */

.popup{
    position: absolute;
    left: 50%;
    background: #fff;
    padding: 25px;
    border-radius: 15px;
    top: -150%;
    max-width: 380px;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
    transform: translate(-50%, -50%) scale(1.2);
    transition: top 0s 0.2s ease-in-out,
                opacity 0.2s 0s ease-in-out,
                transform 0.2s 0s ease-in-out;
}
.popup.show{
    top: 50%;
    opacity: 1;
    pointer-events: auto;
    transform:translate(-50%, -50%) scale(1);
    transition: top 0s 0s ease-in-out,
                opacity 0.2s 0s ease-in-out,
                transform 0.2s 0s ease-in-out;
}
.popup :is(header){
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.popup header{
    padding-bottom: 15px;
}
header span{
    font-size: 21px;
    font-weight: 600;
}
header .close{
    display: flex;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}
header .close{
    color: #878787;
    font-size: 17px;
    background: #f2f3fb;
    height: 33px;
    width: 33px;
    cursor: pointer;
}
header .close:hover{
    background: #ebedf9;
}
.popup .modal_content{
    margin: 20px 0;
}




